/*CONSTANTS*/

:root {
  --light-gray: #babac4;
  --dark-gray: #a8a8af;
}

/*GLOBAL*/
html {
  background-color: var(--light-gray);
  color: #262424;
}
/*CENTER*/
body {
  margin: 0 20vh 0 25vh;
  font-family: helvetica, arial, sans;
  background-color: var(--dark-gray);
}
/*HEADER*/
header {
  text-align: center;
}

.header-img {
  height: 15vh;
  box-sizing: border-box;
  /*position: absolute;*/
  margin: 5vh 0;
}

header h1 {
  padding-top: 1em;
  font-size: 3em;
}
header p {
  padding-top: 0.5em;
  color: #fff;
}
/*FOOTER*/
footer {
  margin: 6em auto 0;
  text-align: center;
  padding-bottom: 5vh;
}
footer p {
  color: #fff;
  margin-bottom: 1em;
}
footer a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.two-col {
  margin-top: 1em;
  padding: 0 5vh 0 8vh;
}

/*LEFT COL*/
.links-col {
  float: left;
  text-align: right;
}

.links li {
  display: block;
  margin-top: 0.5em;
}
.links li a {
  text-decoration: none;
  color: #262424;
}

/*RIGHT COL*/
.post-col {
  font-size: 1rem;
}
.post-previews {
  margin: 0 0 5vh 20vh;
}
.post-header h2 {
  font-size: 1.5em;
  text-align: left;
}
.post-header h2 a {
  text-decoration: none;
  color: #fff;
}
.post-date {
  text-align: right;
  margin-top: 0.5em;
  color: #323238;
}
.post-excerpt {
  margin: 0.5em 0 0 1.5em;
  line-height: 1.5;
  text-align: left;
  color: #000;
}

/*XXX MOBILE FRIENDLY */
/*@media (max-width: 800px) {
  html {
    box-shadow: none;
    padding: 0;
  }
  .links-col {
    display: none;
  }
  .post-col {

  }
  .post-excerpt {
    font-size: 3.25vw;
  }
}*/

/*BLOG*/
.blog-post {
  margin: 0 4em;
}

.blog-post h1 {
  font-size: 2em;
  color: #fff;
  padding: 0 0 1em;

}

.blog-post p {
  line-height: 1.5em;
}
